@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

.navbar-brand {
    margin-right: auto;
    font-family: 'Cormorant Garamond', serif; 
    transform: scale(1.2);
}

    .navbar-nav {
    width: 100%;
    display: flex;
    justify-content: center; /* Centra los ítems horizontalmente */
    align-items: center; /* Centra los ítems verticalmente */
    font-family: 'Cormorant Garamond'; 
    font-size: 1.4rem;
}

    .nav-item {
    margin: 0; /* Elimina cualquier margen */
}

    .icon-container {
    display: flex;
    align-items: center;
    margin-left: auto; 
    justify-content: center;
    font-size: 24px;
}

    .icon {
    margin-left: 10px;
    color: black ;
}

    @media (max-width: 991.98px) {
    .navbar-nav {
        justify-content: center;
    }
    
}

/*registro*/
.main {
    background-color: #C4B292;
    font-family: 'Titillium Web', sans-serif;
  }
  
  .main a {
    text-decoration: none;
    color: #1ab188;
    transition: 0.5s ease;
  }
  
  .main a:hover {
    color: #2f3532;
  }
  
  .form {
    background: #CCB284 ;
    padding: 40px;
    max-width: 600px;
    margin: 40px auto;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgba(236, 238, 240, 0.3);
    font-family: 'Cormorant Garamond';
  }
  
  .tab-group {
    list-style: none;
    padding: 0;
    margin: 0 0 40px 0;
  }
  
  .tab-group:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .tab-group li a {
    display: block;
    text-decoration: none;
    padding: 15px;
    background: rgba(160, 179, 176, 0.25);
    color: #f9f8f6;
    font-size: 20px;
    float: left;
    width: 50%;
    text-align: center;
    cursor: pointer;
    transition: 0.5s ease;
  }
  
  .tab-group li a:hover {
    background: #9B8152;
    color: #ffffff;
  }
  
  .tab-group .active a {
    background: #8C6D36;
    color: #ffffff;
  }

  
  
  .tab-group .tab-registro {
    background: #8C6D36;
  }
  
  .main h1 {
    text-align: center;
    color: #ffffff;
    font-weight: 300;
    margin: 0 0 40px;
  }
  
  .main label {
    position: absolute;
    transform: translateY(6px);
    left: 13px;
    color: #362A15;
    transition: all 0.25s ease;
    pointer-events: none;
    font-size: 22px;
  }
  
  .main label .req {
    margin: 2px;
    color: #2d2c26;
  }
  
  .main label.active {
    transform: translateY(50px);
    left: 2px;
    font-size: 14px;
  }
  
  .main label.highlight {
    color: #ffffff;
  }
  
  input,
  textarea {
    font-size: 22px;
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    background: none;
    background-image: none;
    border: 1px solid #BBA47A;
    color: #ffffff;
    border-radius: 0;
    transition: border-color 0.25s ease, box-shadow 0.25s ease;
  }
  
  input:focus,
  textarea:focus {
    outline: 0;
    border-color: #8C6D36;
  }
  
  textarea {
    border: 2px solid #362A15;
    resize: vertical;
  }
  
  .field-wrap {
    position: relative;
    margin-bottom: 40px;
  }
  
  .top-row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .top-row > div {
    float: left;
    width: 48%;
    margin-right: 4%;
  }
  
  .top-row > div:last-child {
    margin: 0;
  }
  
  .button {
    border: 0;
    outline: none;
    border-radius: 0;
    padding: 15px 0;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    background: #8C6D36;
    color: #ffffff;
    transition: all 0.5s ease;
  }
  
  .button:hover,
  .button:focus {
    background: #625133;
  }
  
  .button-block {
    display: block;
    width: 100%;
  }
  
  .forgot {
    margin-top: -20px;
    text-align: right;
  }
 
  
/*footer*/
footer {
  color: #fff;
  /*padding: 50px 0;*/
  font-family: 'Cormorant Garamond';
}

footer h5 {
  font-weight: bold;
  margin-bottom: 20px;
}

footer ul li a {
  color: #fff;
  text-decoration: none;
}

footer ul li a:hover {
  color: #6e4b4b;
}

footer .list-inline-item a {
  color: #fff;
  font-size: 20px;
  margin-right: 10px;
}

footer .list-inline-item a:hover {
  color: #362A15;
}
  @media (max-width: 767.98px) {
  .col-sm-6 {
    flex: 0 0 auto;
    width: 100%;
    text-align: center;
  }
}