@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

.navbar-brand {
    margin-right: auto;
    font-family: 'Cormorant Garamond', serif; 
    transform: scale(1.2);
}

    .navbar-nav {
    width: 100%;
    display: flex;
    justify-content: center; /* Centra los ítems horizontalmente */
    align-items: center; /* Centra los ítems verticalmente */
    font-family: 'Cormorant Garamond'; 
    font-size: 1.4rem;
}

    .nav-item {
    margin: 0; /* Elimina cualquier margen */
}

    .icon-container {
    display: flex;
    align-items: center;
    margin-left: auto; 
    justify-content: center;
    font-size: 24px;
}

    .icon {
    margin-left: 10px;
    color: black ;
}

    @media (max-width: 991.98px) {
    .navbar-nav {
        justify-content: center;
    }
    
}

/*es*/
.table-content {
    width: 450px;
    margin: 50px auto;
    text-align: center;
}

.table-content td {
    width: 100px;
}

/*footer*/
footer {
    color: #fff;
    /*padding: 50px 0;*/
    font-family: 'Cormorant Garamond';
  }
  
  footer h5 {
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  footer ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  footer ul li a:hover {
    color: #6e4b4b;
  }
  
  footer .list-inline-item a {
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
  }
  
  footer .list-inline-item a:hover {
    color: #362A15;
  }
    @media (max-width: 767.98px) {
    .col-sm-6 {
      flex: 0 0 auto;
      width: 100%;
      text-align: center;
    }
  }